{% extends 'base.html' %}

{% block content %}

{% for i in get_flashed_messages()%}
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <strong>{{i}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    
{% endfor %}




{% if name %}
    <h1 style="color:rgb(87, 11, 11);"> HI {{name}}!!! </h1><br/>
    <h3 style="color:rgb(87, 11, 11);"> Check if your name is there or not </h3><br/>
    <h5 style="color:rgb(87, 11, 11);"> If not then this email is already in use... Try another email</h5><br/>

    <table class="table table-hover">
        <tr>
            <td style="color: white;">
                {% for i in our_users %}
                    {{i.id}}. <a href="{{url_for('update',id=i.id)}}">{{i.name}}</a> = {{i.username}}- {{i.email}} - {{i.month}} pw: {{i.password_hash}} <a href="{{url_for('delete',id=i.id)}}">Delete</a><br/>
                {% endfor %}
            </td>
        </tr>
    </table>
    <form method="POST">
        <button type="button" class="btn"  style="background-color: rgb(87, 11, 11); color: white;" onclick="window.location.href='{{ url_for('add_user') }}'">Go to User List</button>
    </form><br/>


{% else %}
    <h1 style="color:rgb(87, 11, 11);">User List</h1><br/>
    <div class="shadow p-3 mb-5 rounded" style="background-color: rgb(87, 11, 11); color: white;">
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control" ) }}
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control" ) }}
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control" ) }}
            {{ form.month.label(class="form-label") }}
            {{ form.month(class="form-control") }}
            {{ form.about.label(class="form-label") }}
            {{ form.about(class="form-control") }}
            {{ form.password_hash.label(class="form-label") }}
            {{ form.password_hash(class="form-control") }}
            {{ form.password_hash2.label(class="form-label") }}
            {{ form.password_hash2(class="form-control") }}            
            <br/>
            {{ form.submit(class="btn", style="background-color: rgb(0, 0, 0); color: white;") }}
        </form>
    </div>
    <br/><br/><br/>

<table class="table table-hover">
    <tr>
        <td style="color: white;">
            {% for i in our_users %}
                {{i.id}}. <a href="{{url_for('update',id=i.id)}}">{{i.name}}</a> = {{i.email}} - {{i.month}} pw: {{i.password_hash}} <a href="{{url_for('delete',id=i.id)}}">Delete</a><br/>
            {% endfor %}
        </td>
    </tr>
</table>



{% endif %}



{% endblock %}