{% extends 'base.html' %}

{% block content %}

<h1>You searched for</h1>
<p>{{searched}}</p>

{% if posts %}
    {% for i in posts %}
        <div class="shadow p-3 mb-5 rounded" style="max-width: 30rem; background-color: rgb(87, 11, 11); color: white;">
            <h2>{{i.id}}. {{ i.title }}</h2>
            <h6>by: {{ i.poster.name }}</h6>
            <h4>{{ i.content|safe }}</h4>
            <h6>Posted date and time: {{ i.date_posted }}</h6><br/>
            <form method="POST">
                <button type="button" class="btn"  style="background-color: rgb(0, 0, 0); color: rgb(255, 255, 255);" onclick="window.location.href='{{ url_for('post',id=i.id) }}'">View Post</button>
            </form>
        </div>
    <br/>    
    {% endfor %}

{% else %}
    <h4>Not Found</h4>
{% endif %}

{% endblock %}