{% extends 'base.html' %}

{% block content %}

{% for i in get_flashed_messages()%}
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <strong>{{i}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    
{% endfor %}

{% if id == current_user.id %}

    <div class="shadow p-3 mb-5 rounded" style="background-color: rgb(87, 11, 11); color: white;">
        <form action="/update/{{name_to_update.id}}" method="POST">
            {{ form.hidden_tag() }}
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control", value= name_to_update.name ) }}
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control", value= name_to_update.username ) }}
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control", value= name_to_update.email)  }}
            {{ form.month.label(class="form-label") }}
            {{ form.month(class="form-control", value= name_to_update.month)  }}
            <br/>
            {{ form.submit(class="btn", style="background-color: rgb(0, 0, 0); color: white;") }}
             <a href="{{url_for('delete',id=id)}}" class="btn", style="background-color: rgb(167, 5, 5); color: white;">Delete</a>
        </form>
    </div>
    <br/><br/><br/>

{% else %}
    <h1>Sorry, You can't edit this user.</h1>

{% endif %}





{% endblock %}